Backend

PORT=5000
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb://localhost:27017/omnichannel-pos
SECRET_ACCESS_TOKEN_KEY=access_token_secret_key
SECRET_REFRESH_TOKEN_KEY=refresh_token_secret_key
REDIS_HOST=127.0.0.1
REDIS_PORT=6379